{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="author" href="{{ site.googleplus }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/boostrap-files/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/css/animate.css" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/css/style.css" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/css/colour-scheme/color-blue.css" rel="stylesheet" data-color="color-blue" id="stylesheet-new">
    <link type="text/css" media="all" href="{{ site.url }}/assets/css/respons.css" rel="stylesheet" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <!-- Favicons -->
    <meta name="msapplication-TileImage" content="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png">
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png" />
    <!-- Schema.org -->
    <meta property="og:image" content="{{ site.url }}/images/logo.png" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="Jaswinder Singh Blog" />
    <meta property="og:type" content="blog" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@itsjaswinder" />
    <meta name="twitter:creator" content="@itsjaswinder" />
    <meta name="twitter:creator:id" content="Jaswinder Singh" />
    <meta name="twitter:url" content="{{ site.url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image:src" content="{{ site.url }}/images/logo.png" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=The+Girl+Next+Door:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body background="">
    <!-- Load page -->
    <div class="animationload">
        <div class="loader"></div>
    </div>
    <!-- End load page -->
    <div id="wraper">